<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.assingment_coffee">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assingment_Coffee"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".main_home"
            android:exported="false" />
        <activity
            android:name=".cart"
            android:exported="false" />
        <activity
            android:name=".drawer_top"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".forget_password"
            android:exported="false" />
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Food"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.assingment_coffee.data_list_bakery"/>
        <activity
            android:name="com.example.assingment_coffee.data_list_salad"/>
        <activity
            android:name="com.example.assingment_coffee.data_list_chocolate"/>
        <activity
            android:name="com.example.assingment_coffee.data_list_yogurt"/>
        <activity
            android:name="com.example.assingment_coffee.data_listhocoffee"/>
        <activity
            android:name="com.example.assingment_coffee.data_list_beverages"/>
        <activity
            android:name="com.example.assingment_coffee.data_list_icecoffee"/>
        <activity
            android:name="com.example.assingment_coffee.data_list_food"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>